@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Barlow Condensed", sans-serif;
  src: url("/assets/fonts/BarlowCondensed-Bold.ttf");
}

body {
  font-family: "Barlow Condensed", sans-serif;
}
@layer utilities {
  .common-btn {
    @apply bg-red-600 text-white py-2 px-4 rounded-md;

    &:hover {
      @apply bg-green-600;
    }
  }
}
